/* @font-face {
  font-family: lino;
  src: url('assets/lino.woff2');
} */

* {
	position: relative;
	margin: 0;
	padding: 0;
	outline: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	font-weight: normal;
	/* overflow: hidden; */
	height: 100%;
}

/* */

